html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: #00f0a0;
  background: linear-gradient(
    353deg,
    rgba(0, 0, 3, 1) 0%,
    rgba(5, 20, 33, 1) 43%,
    rgba(7, 44, 59, 1) 76%,
    rgba(2, 120, 133, 1) 100%
  );

  background-repeat: no-repeat;
  background-size: cover;
  overflow: auto;
  overflow-x: hidden;
}
